
                {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}
        
        
            {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
            <link rel="stylesheet" href="{{ asset('styles/mainContent.scss') }}">
            <link rel="stylesheet" href="{{ asset('styles/loginForm.scss') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
{% block title %}Register{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}



  <body>
    <div class="form">

        {{ form_errors(registrationForm) }}
                <div class="background">
                <div class="shape"></div>
                <div class="shape"></div>
            </div>
        {{ form_start(registrationForm) }}
                <h1 class="h3 mb-3 font-weight-normal">
                    <a href="{{ path('app_main') }}"><img src="{{asset('images/logo (1) — kopia.png')}}" class="logoLogin"/></a>
                </h1>
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.firstName, {
                label: 'Imię'
            }) }}
            {{ form_row(registrationForm.nickName, {
                label: 'Nick'
            }) }}
            
        <div id="app">
            <div class="menu">
            <Modal>
            </Modal>
        </div>

            {{ form_row(registrationForm.imageName, {
                attr: {
                    'value': 'Select an article image'
                }
            }) }}

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Hasło'
                }) }}
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Zgadzam się na warunki'
                }) }}
           
            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</body>
{% endblock %}
