{% extends 'base.html.twig' %}
 {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
            <link rel="stylesheet" href="{{ asset('styles/mainContent.scss') }}">
            <link rel="stylesheet" href="{{ asset('styles/loginForm.scss') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        
        Jeśli istnieje konto pasujące do Twojego adresu e-mail, właśnie została wysłana wiadomość e-mail zawierająca link, za pomocą którego możesz zresetować hasło.
        Ten link wygaśnie za {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Jeśli nie otrzymasz e-maila, sprawdź folder ze spamem lub <a href="{{ path('app_forgot_password_request') }}">spróbuj ponownie</a>.</p>
{% endblock %}
