

{% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
            <link rel="stylesheet" href="{{ asset('styles/mainContent.scss') }}">
            <link rel="stylesheet" href="{{ asset('styles/_scoreRank.scss') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
{% block body %}

    <div class="content">
        <div class="rankTable">
        
                    <div class="shape"></div>
                    <div class="shape"></div>
                    <div class="shape"></div>

                    <div class="shapeBlue-1"></div>
                    <div class="shapeBlue-2"></div>
                    <div class="shapeBlue-3"></div>
            {% set counter = 1 %}
                {% for category in product1 %}
                

                <!--{% if counter is divisible by(2) %}{{counter}}{% endif %}-->   
                <div class="rankPerson">
                    
                   <span class="id"> {{ counter }}</span>
                   <span class="name"> {{ category.nickName }}</span>
                   <span class="topic"> {{ category.topic }}</span>
                   <span class="score"> {{ category.score }}</span><br/>
                   {% set counter = counter + 1 %}
                </div>
                
                {% endfor %}


                
        </div>
         
    </div>
    <a href="http://localhost:8000/user#">powrót</a>
        {% for topic in mathTopics %}
            <div>
                <a href="http://localhost:8000/score/rank/{{topic.id}}">{{topic.topicName}}</a>                
            </div>
        {% endfor %} 
{% endblock %}
