

{% block title %}Hello UserController! {% endblock %}

{% block body %}
{# templates/home.html.twig #}
<head>
        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
            <link rel="stylesheet" href="{{ asset('styles/mainContent.scss') }}">
            <link rel="stylesheet" href="{{ asset('styles/loginForm.scss') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
</head>
<div id="app">
 <div class="form">
        <form method="post">
          <h1 class="h3 mb-3 font-weight-normal">
                <a href="{{ path('app_main') }}"><img src="{{asset('images/logo (1) — kopia.png')}}" class="logoLogin"/></a>
            </h1>
       </form>
       
</div>
</div>

</div>


{% endblock %}
