{% block body %}
<head>
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/mainContent.scss') }}">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<div id="app">
    <div class="form1">
        <form id="topicForm">
            <h1 class="h3 mb-3 font-weight-normal">
                <a href="{{ path('app_main') }}" class="homePage">
                    <img src="{{ asset('images/logo (1) — kopia.png') }}" class="logoLogin"/>
                </a>
            </h1>

            {% set imageName = app.user.imageName %}
            {% set imagePath = 'images/avatars/' ~ imageName ~ '.png' %}

            <div class="title">
                Witaj,
                {% for product in products %}
                    <div>
                        <input type="radio" name="topic" value="{{ product.topicName }}">
                        <label>{{ product.topicName }}</label>
                    </div>
                {% endfor %}
                <img src="{{ asset(imagePath) }}" alt="" class="userImage">
            </div>

            <div class="boxes">
                <div class="quizzesLink">
                    <a href="#" onclick="submitFormWithImage('fastQuizz')">
                        <img src="{{ asset('images/fastQuizz.png') }}" class="imageLink">
                        <div class="titleLink">Szybki strzał</div>
                    </a>
                </div>
                <div class="quizzesLink">
                    <a href="#" onclick="submitFormWithImage('40Questions')">
                        <img src="{{ asset('images/40Questions.png') }}" class="imageLink">
                        <div class="titleLink">40 pytań</div>
                    </a>
                </div>

            </div>

            <!-- Hidden input to store the selected image -->
            <input type="hidden" name="selectedImage" id="selectedImage" value="">
        </form>
    </div>
</div>

<script>
    function submitFormWithImage(imageName, topicId) {
        // Set the value of the hidden input
        document.getElementById('selectedImage').value = imageName;

        // Get the selected radio button value
        const selectedTopic = document.querySelector('input[name="topic"]:checked');
        const topicValue = selectedTopic ? selectedTopic.value : null;

        // Build the URL with query parameters
        let url = "{{ path('app_quizz') }}";
        url += `?selectedImage=${encodeURIComponent(imageName)}`;
        if (topicValue) {
            url += `&topic=${encodeURIComponent(topicValue)}`;
        }

        // Redirect to the URL
        window.location.href = url;
    }
</script>
{% endblock %}
