{% extends 'base.html.twig' %}

{% block title %}Quiz - {{ topic }}{% endblock %}


{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
            <link rel="stylesheet" href="{{ asset('styles/mainContent.scss') }}">
            <link rel="stylesheet" href="{{ asset('styles/_scoreRank.scss') }}">
           
{% endblock %}



{% set recordsArray = [] %}
{% set recordsArrayAnswer = [] %}
{% set answerbad = [] %}
{% set answerbadfirst = [] %}
{% set answerbadsecond = [] %}
{% set command = [] %}

{% for record in records %}
    {% set recordsArray = recordsArray|merge([{
        'question': record.getQuestion(),
    
    }]) %}
     {% set recordsArrayAnswer = recordsArrayAnswer|merge([{    
        'answer': record.getAnswear(),
    
    }]) %}
    {% set answerbad = answerbad|merge([{
        'answerBad': record.getAnswerBad1(),
        
    }]) %}


     {% set answerbadfirst = answerbadfirst|merge([{
        'answerBad': record.getAnswerBad2(),
    
    }]) %}
    {% set answerbadsecond = answerbadsecond|merge([{
        'answerBad': record.getAnswerBad3(),
        
    }]) %}
        {% set command = command|merge([{
        'answerBad': record.command(),
        
    }]) %}
{% endfor %}

{% set csrf_token = csrf_token('save_score') %}
       <div id="quiz-app">
            <Quizz
                :records='{{ recordsArray|json_encode }}'
                :answer='{{ recordsArrayAnswer|json_encode}}'
                :answerbad="{{ answerbad|json_encode }}"
                :answerbadfirst="{{ answerbadfirst|json_encode }}"
                :answerbadsecond="{{ answerbadsecond|json_encode }}"
                :topic="{{ topic|json_encode }}"
                :selected-image="{{ selectedImage|json_encode }}"
                :command="{{ command|json_encode }}"
                :csrf-token="{{ csrf_token('save_score')|json_encode}}"
                :save-score-url="{{ path('save_score')|json_encode }}"
            ></Quizz>
    </div>
</div>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>
{{ encore_entry_link_tags('app') }}
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false},
                {left: '\\(', right: '\\)', display: false},
                {left: '\\[', right: '\\]', display: true}
            ],
            throwOnError: false
        });
    });
</script>
{% endblock %}
